/*  your css code here. If applicable */
p:before{
	content:"Before Element ";
	color:rgb(255, 0, 0);
/* 	color:red;
	font-size:20px; */
}

p:after{
	content:" After Element";
	color:rgb(255, 0, 0);
/* 	color:red;
	font-size:20px; */
}